---
---
body{font-family:Roboto Light, sans-serif;font-weight:300;background:rgb(173, 216, 230);font-size:1.1em;}
h1, h2, h3, h4, h5, h6{margin:0;color:#333;}
.title a{color:#fff;}
.title a:hover, core-menu paper-item a:hover{text-decoration:none;}
p{color:#444;}
a{text-decoration:none;color:#3f51b5;}
a:hover{text-decoration:underline;}
#date-user{font-size:1em;}
#home-card{padding:32px 64px 12px 64px;background-color:#f9f9f9;box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26);}
#search-card{padding:32px 64px 32px 64px;margin:12px 12% 12px 12%;background-color:#f9f9f9;box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26);}
#home-card-ads{margin:12px 96px 12px 96px;background-color:#f9f9f9;box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26);}
#home-card-link{padding:12px 96px 12px 96px;}
#home-card-link a{text-decoration:none;}
#home-card:hover{box-shadow:0 10px 20px 0 rgba(0, 0, 0, 0.26);}
#footer{background-color:#f9f9f9;box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26);margin-top:48px;font-size:0.8em;padding:24px 12% 24px 12%;}
#read-more{text-decoration:none;color:#3F51B5;padding-top:18px;}
#read-more:hover{color:#1A237E;}
#post-title{text-transform:uppercase;text-decoration:none;font-size:1.5em;}
#post-title2{text-transform:uppercase;font-size:2em;}
#post-title h2:hover{color:#1A237E;}
#post-card{margin:30px;padding:32px 64px 32px 64px;background-color:#f9f9f9;box-shadow:0 2px 5px 0 rgba(0, 0, 0, 0.26);}
#header{height:64px;width:100%;position:relative;font-weight:bold;}
#header a{text-decoration:none;color:white;margin-left:-38px;}
.videoWrapper{position:relative;padding-bottom:56.25%;padding-top:25px;height:0;}
.videoWrapper iframe{position:absolute;top:0;left:0;width:100%;height:100%;}
#menu-list{text-decoration:none;color:black;}
#core_scaffold{position:absolute;top:0px;right:0px;bottom:0px;left:0px;width:100%;height:100%;background-color:rgb(255, 255, 255);}
#core_header_panel{background-color:rgb(255, 255, 255);}
#core_menu{font-size:16px;margin:12px 0px 0px 0px;}
#core_menu core-item{margin-top:4px;padding-left:16px;;}
#core_menu core-item:hover{background-color:#eeeeee;;}
#paper_tabs{height:64px;background-color:rgb(33, 33, 33);width:488px;}
#core_toolbar{color:rgb(255, 255, 255);height:192px;background-color:rgb(79, 125, 201);}
.image-wrapper{max-width:90%;height:auto;position:relative;display:block;margin:0 auto;}
.image-wrapper img{max-width:100% !important;height:auto;display:block;}
#paper-ripple{width:300px;height:300px;}
@media screen and (max-width:640px){#post-title{font-size:1.1em;}
#post-title2{font-size:1.3em;}
#post-card{margin:16px;padding:16px 32px 16px 32px;}
#home-card-ads{margin:12px 28px 12px 28px}
#home-card-link{padding:16px 32px 16px 32px;}
#home-card{padding:32px 32px 16px 32px;}
h1{font-size:1.2em;}
#date-user{font-size:0.8em;color:grey;}
#read-more{display:none;}
#search-card{padding:32px 24px 32px 24px;}